body {
    margin: 0;
}

.pane {
    width: 50%;
    float: left;
    display: block;
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
}

.editor-pane {
    height: 700px;
}

#editor {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pw-docs-nav.pw-docs-nav {
    margin-bottom: 0;
}

